html, body {
	height: 100%;
	overflow: hidden;
}

html, body, div, {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Roboto, Arial;
}

#buttons {
	width: 55%;
	height: 100%;
	float: left;
	min-width: 516px;
}

#button-holder {
	width: 70%;
	padding-bottom: 80%;
	float: right;
	margin-top: 10%;
	min-width: 466px;
}

.trigger {
	position: relative;
	width: 11%;
	padding-bottom: 11%;
	margin-right: 3px;
	margin-bottom: 3px;
	float: left;
	border: 2px solid #DDD;
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
	.trigger:hover {
		border: 2px solid #333;
	}

.pad-label {
	position: absolute;
	top: 35%;
	padding-top: -12pt;
	width: 100%;
	font-family: Roboto, Arial;
	font-size: 10pt;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#controls {
	width: 40%;
	height: 100%;
	float: left;
}

#control-panel {
	width: 300px;
	margin-left: 5%;
	margin-top: 20%;
	border: 2px solid #DDD;
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	padding-top: 3px;
	padding-bottom: 20px;
	text-align: center;
}

hr {
	border: 0;
	width: 250px;
	height: 2px;
	color: #DDD;
	background-color: #DDD;
}

#trigger-name {
	font-size: 40pt;
	font-family: Roboto, Arial;
	font-weight: bold;
	color: #FF9900;
	width: 100%;
	text-align: center;
}

label {
	width: 30px;
	font-family: Roboto, Arial;
	font-size: 16pt;
	margin-top: 30px;
	text-align: center;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: #EEE;
    height: 20px;
    width: 200px;
    border-radius: 1px;
} 

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:20px;
    height: 20px;
    background: #FF9900;
}

.mode-switch {
	margin-top: 30px;
	height: 43px;
	font-size: 16pt;
	float: left;
	font-family: Roboto, Arial;
	width: 143px;
	border: 2px solid #DDD;
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	padding-top: 9px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#perfmode {
	margin-left: 6px;
}

#100percent {
	height: 100%;
}