html, body {
	height: 100%;
	overflow: hidden;
}

html, body, div, {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Roboto, Arial;
}

#buttons {
	width: 56%;
	height: 100%;
	float: left;
	min-width: 516px;
}

#button-holder {
	width: 68%;
	padding-bottom: 80%;
	float: right;
	margin-top: 10%;
	min-width: 466px;
}

.trigger {
	position: relative;
	width: 11%;
	padding-bottom: 11%;
	margin-right: 3px;
	margin-bottom: 3px;
	float: left;
	border: 2px solid #DDD;
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
	div.trigger:hover {
		border: 2px solid #FF9900;
	}

.pad-label {
	position: absolute;
	top: 35%;
	padding-top: -12pt;
	width: 100%;
	font-family: Roboto, Arial;
	font-size: 10pt;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#controls {
	width: 40%;
	height: 100%;
	float: left;
}

#control-panel {
	width: 300px;
	margin-left: 5%;
	border: 2px solid #DDD;
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	padding-top: 3px;
	padding-bottom: 20px;
	text-align: center;
	float:left;
	clear: left;
	height:195px;
}

hr {
	border: 0;
	width: 250px;
	height: 2px;
	color: #DDD;
	background-color: #DDD;
}

#trigger-name {
	font-size: 40pt;
	font-family: Roboto, Arial;
	font-weight: bold;
	color: #FF9900;
	width: 100%;
	text-align: center;
}

label {
	width: 30px;
	font-family: Roboto, Arial;
	font-size: 16pt;
	margin-top: 30px;
	text-align: center;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: #EEE;
    height: 20px;
    width: 200px;
    border-radius: 1px;
} 

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:20px;
    height: 20px;
    background: #FF9900;
}

.mode-switch {
	margin-top: 30px;
	height: 43px;
	font-size: 16pt;
	float: left;
	font-family: Roboto, Arial;
	width: 143px;
	border: 2px solid #DDD;
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	padding-top: 9px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
	.mode-switch:hover {
		border: 2px solid #FF9900;
	}
#perfmode {
	margin-left: 6px;
}

#100percent {
	height: 100%;
}

#presets {
	margin-top: 10px;
	width: 300px;
	height: 43px;
	border: 2px solid #DDD;
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	padding-top: 10px;
	text-align: center;
	float: left;
}

#preset-title {
	width: 130px;
	float: left;
	font-family: Roboto, Arial;
	font-size: 16pt;
	padding-left: 10px;
}
.preset {
	width: 20%;
	float: left;
	font-family: Roboto, Arial;
}

select {
	width: 130px;
	height: 30px;
	font-family: Roboto, Arial;
	font-size: 14pt;
	text-align: center;
}

#record-options {
	margin-top: 10px;
	width: 300px;
	height: 86px;
	border: 2px solid #DDD;
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	text-align: center;
	float: left;
}

#bars, #quantization {
	height: 50%;
	width: 97%;
	float: left;
	padding-left: 10px;
	overflow: hidden;
}

#bars {
	border-bottom: 2px solid #DDD;
}

ul {
	list-style: none;
	display: box;
}

#record-options li {
	margin-top: -16px;
	width: 28px;
	height: 36px;
	padding-top: 10px;
	border-left: 2px solid #DDD;
	float: left;
	font-family: Roboto, Arial;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	box-flex: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
	li:hover {
		background-color: #FF9900;
	}

.active {
	background-color: #FF9900;
}

.recops-title {
	display: inline-block;
	width: 130px;
	float: left;
	font-family: Roboto, Arial;
	font-size: 14pt;
	padding-top: 7px;
}

#console {
	margin-top: 10px;
	width: 300px;
	height: 43px;
	border: 2px solid #DDD;
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	text-align: center;
	float: left;
}

#concons {
	height: 100%;
	padding: 0;
	margin: 0;
}

#concons li {
	float: left;
	box-flex: 1;
}

.rb {
	border-right: 2px solid #EEE;
}

#play {
	padding-left: 30px;
	padding-top: 9px;
	height: 34px;
	width: 43px;
}

.playbutton {
	width: 0; 
	height: 0; 
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	
	border-left: 20px solid #888;
}

#pause {
	padding-left: 21px;
	padding-top: 10px;
	height: 33px;
	width: 52px;
}

.pausepole {
	height: 22px;
	width: 8px;
	margin-left: 5px;
	background-color: #888;
	float: left;
}

#stop {
	padding-left: 21px;
	padding-top: 10px;
	height: 33px;
	width: 52px;
}

.stopbutton {
	margin-left: 5px;
	width: 21px;
	background-color: #888;
	height: 22px;
}

#record {
	padding-left: 25px;
	padding-top: 8px;
	height: 35px;
	width: 50px;
}

.recordbutton {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background-color: #888;
}

#tempo {
	margin-top: 10px;
	width: 300px;
	height: 43px;
	border: 2px solid #DDD;
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	text-align: center;
	float: left;
	padding-top: 5px;
}
	#tempo input {
		margin-left: 20px;
		width: 150px;
		margin-top: 5px;
	}
	#bpm-label {
		width: 87px;
		margin-top: -5px;
	}

#count {
	margin-top: 10px;
	width: 300px;
	height: 43px;
	border: 2px solid #DDD;
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	text-align: center;
	float: left;
	padding-top: 5px;
	font-family: Roboto, Arial;
	font-size: 20pt;
	text-align: center;
}

h2 {
	font-family: Roboto, Arial;
	font-size: 20pt;
	float: left;
}

h4 {
	margin-top: 20%;
	font-family: Roboto, Arial;
	font-size: 12pt;
	color: #888;
	float: left;
	margin-left: 10px;
	margin-top: 30px;
}

#titlediv {
	margin-top: 10%;
	margin-left: 5%;
}

#help {
	position: absolute;
	width: 100%;
	margin: 0 auto;
	bottom: 20px;
	text-align: center;
	font-family: Roboto, Arial;
	font-size: 12pt;
	color: #888;
}

#helptext {
	position: absolute;
	left: 50%;
	margin-left: -350px;
	top: 20%;
	width: 700px;
	height: 400px;
	font-family: Roboto, Arial;
	padding: 20px;
	border: 4px solid #888;
	background-color: white;
}

#close {
	color: #888;
	width: 100%;
	text-align: center;
}